.btn {
  font: inherit;
  text-decoration: none;
  border: none;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.btn.add-to-cart {
  $font-size: 1rem;

  background-color: $primary-color;
  color: $white;
  width: auto;
  padding: 1rem 1rem;
  display: block;
  width: 100%;

  text-align: center;

  font-weight: bold;
  font-size: $font-size;

  border-radius: .5rem;


  .icon-cart {
    margin-right: .75em;
    img {
      height: $font-size;
      width: auto;
    }
  }
}
