$mobile-breakpoint: 700px;

@media screen and (min-width: $mobile-breakpoint) {
  $border-radius: 1.55rem;

  .preview-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0;

    .card__content {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .card__image {
      height: 100%;
      img {
        border-radius: $card-border-radius 0 0 $card-border-radius;
        height: 100%;
        width: 100%;
      }
    }
  }
}
