.preview-card {
  position: relative;

  $border-radius: 0.8rem;
  $inner-margin: 2rem;

  background-color: $white;
  border-radius: $border-radius;

  width: auto;

  .card__image {
    img {
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  .card__content {
    padding: 1.8rem;
  }

  .card__title {
    .preface {
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
    }

    h1 {
      $title-fontsize: 2.15rem;
      $line-spacing: 0.6rem;
      font-size: $title-fontsize;

      line-height: calc(#{$title-fontsize} + #{$line-spacing});

      margin-top: 1.35rem;
    }
  }

  .card__body {
    margin-top: 1.4rem;
    font-size: 0.91rem;
    line-height: 1.5rem;
  }

  .card__price-display {
    margin-top: 4rem;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;

    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: $primary-color;

    .old-price {
      color: $light-color;
      font-size: 1rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;

      text-decoration: line-through;

      margin-left: 1.8rem;
    }
  }

  .add-to-cart {
    $font-size: 0.9rem;

    background-color: $primary-color;
    color: $white;
    width: auto;
    padding: 1rem 1rem;
    display: block;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: $font-size;

    border-radius: 0.5rem;

    &:hover,
    &:focus {
      background-color: $dark-green;
    }

    .icon-cart {
      margin-right: 0.7rem;
      img {
        height: $font-size;
        width: auto;
      }
    }
  }
}
