@use 'globals' as *;
@import 'preview-card';
@import 'buttons';
@import 'desktop';

html {
  font-size: 14px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $bg-color;
  color: $light-color;

  min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;

  padding: 2rem 1.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@each $index in (1, 2, 3, 4, 5, 6) {
  h#{$index} {
    font-family: 'Fraunces', serif;
    color: $dark-color;
  }
}

.attribution {
  text-align: center;
}
